<div class="kykz-signup-container">
  <mat-card>

    <img class="kykz-logo" src="../../assets/photos/amslogo.png" width="200">

    <img src="../../assets/photos/kykz-design.svg" width="500">

    <div class="kykz-signup-form">
      <section>
        <h3>Join Us,</h3>
        <p>create account to continue</p>
      </section>
      <form [formGroup]="regiForm" #formDirective="ngForm" (ngSubmit)="onFormSubmit(regiForm.value,formDirective)">  

        <p>
          <mat-form-field appearance="fill">
            <mat-label>School</mat-label>
            <select formControlName="schoolId" matNativeControl required>
              <option value="dps">DPS, Bhopal</option>
              <option value="marigold">MariGold</option>
              <option value="hebron">Hebron</option>
              <option value="best">Best</option>
            </select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Class</mat-label>
            <select formControlName="classId" matNativeControl required>
              <option value="class8A">Class 8A</option>
              <option value="class6B">Class 6B</option>
              <option value="class12C">Class 12C</option>
              <option value="class4D">Class 4D</option>
            </select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="enter your first name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Middle Name</mat-label>
            <input formControlName="middleName" matInput placeholder="enter your middle name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="enter your last name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="enter your email id">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="password">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Confirm Password</mat-label>
            <input formControlName="confirmPassword" matInput placeholder="password">
          </mat-form-field>
        </p>
        <p class="sign-up-btn">
          <button mat-raised-button color="primary">SIGN UP</button>

        </p>
        <p class="login-hyperlink">Already have an account? <a>Login</a></p>
      </form>
    </div>
  </mat-card>
</div>